<div class="container">
    <div class="pull-left">
      <form id="account-form" enctype="multipart/form-data">
        <div class="form-group">

<label for="firstname" >First name:</label>
<input class="form-control" id="firstname" [(ngModel)]="user.firstname"
 minlength="4" type="text" name="firstname" required #firstname="ngModel">

<div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
  <div *ngIf="firstname.errors.required">
    Name is required.
  </div>

  <div *ngIf="firstname.errors.minlength">
    Name must be at least 4 characters long.
  </div>

</div>


<label for="lastname" class="form-control">Last name:</label>
<input [(ngModel)]="user.lastname" type="text" name="lastname" id="lastname">

<label for="email" class="form-control">Email:</label>
<input [(ngModel)]="user.email" type="text" name="email" id="email">

<label for="city" class="form-control">City:</label>
<input [(ngModel)]="user.city" type="text" name="city" id="city">

<label for="pwd" class="form-control">Password:</label>
<input [(ngModel)]="user.password" type="password" name="pwd" id="pwd">

<label for="conpwd" class="form-control">Confirm password:</label>
<input [(ngModel)]="user.confirmPassword" type="password" name="conpwd" id="conpwd">

          </div>
          <button class="btn btn-outline-primary" (click)="login(user)">Create account</button>
      </form>
    </div>
  </div>
