
<div *ngIf=pet>
<!-- Images -->
  <carousel>
    <slide *ngFor="let img of pet.images">
      <img src={{img.imagePath}} alt="slide" style="display: block; width: 100%;">
    </slide>
  </carousel>

<!-- Info -->
  <div class="span6 pull-left">
      <label>Name: {{pet.name}}</label>
      <label>Age: {{pet.age}} years</label>
      <label>Town: {{pet.town}}</label>
<!-- Delete -->
  <div *ngIf=deletable>
    <div class="pull-left">
      <div *ngIf=!delete>
        <button (click)="showDeleteButton()">Delete pet</button>
      </div>
      <div *ngIf=delete>
          <label>Are you sure you want to delete {{pet.name}}'s profil?</label>
        <div>
          <button (click)="deletePet()">Yes</button>
          <button class="cancelbtn" (click)="showDeleteButton()" >Cancel</button>
        </div>
      </div>
    </div>
  </div>
<!-- Add image -->
<div>
    <input type="file" required name="PetImage" (click)=LoadImage() class="form-control" style="padding-top: 1cm; padding-bottom: 0.5cm"  #PetImage  placeholder="Upload file..." />

      <button type="button" class="btn btn-outline-primary" [hidden]=ImageLoaded (click)="addImage()">Submit</button>
</div>
  </div>
</div>

<div *ngIf=!pet>
No pet found.
</div>

