<table class='table table-hover' *ngIf="petslist">
  <thead class='thead-dark'>
<tr>
<th><label>Name</label></th>
<th><label>Photo</label></th>
<th><label>Town</label></th>
<th><label>Age</label></th>
</tr>
  </thead>
<tbody>
<tr *ngFor="let pet of petslist">
<td routerLink="/petprofil/{{pet.id}}"><label class=pull-left>{{pet.name}}</label></td>
<td routerLink="/petprofil/{{pet.id}}"><img class=pull-left alt="Picture of the pet" width= 300px
  class="img img-rounded img-responsive" height=300px  src={{pet.images[0].imagePath}}></td>
<td routerLink="/petprofil/{{pet.id}}"><label class=pull-left>{{pet.town}}</label></td>
<td routerLink="/petprofil/{{pet.id}}"><label class=pull-left>{{pet.age}} y</label></td>
</tr>
</tbody>
</table>
